@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #23353F;
  --buttonBackground: #2C3842;
  --borderColor: #E6EDEF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #243740;
    --foreground: #FDEBD0;
    --buttonBackground: #23353F;
    --borderColor: #E6EDEF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
